NEXT_PUBLIC_SUPABASE_URL=https://hfsjztcdyxmnuuufsdzi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhmc2p6dGNkeXhtbnV1dWZzZHppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwMTA1NDEsImV4cCI6MjEwMjU4NjU0MX0.NbG95qwr5J959dFy9U_4TV36XSJ2xCo7dg69abCXCRQ
NEXT_PUBLIC_SUPABASE_BUCKET=ismail-portfolio
